<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="header__overlay">
        </div>
        <div class="header__item-container">
            <img class="header__img" src="descarga.jpg" alt="foto inicial">
            <h1>ADA 13 EDICIÓN 2024</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aut eius unde quas quae veritatis earum placeat soluta nam error? Dolore voluptatibus quibusdam ex magnam accusamus omnis facilis porro accusantium! lo
            </p>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
            </ul>
        </div>
        <div class="nav__logo-container">
            <img class="nav__logo" src="descarga.jpg" alt="imagen">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repudiandae, veniam illo corporis vero voluptatum laboriosam deleniti tempora! Voluptatibus porro aut velit debitis alias voluptates rerum magni, laboriosam cupiditate labore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid impedit repellendus magni ad doloremque vero velit, accusamus tempora ab deleniti nobis cupiditate possimus non consequatur maiores laudantium dolore odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim a amet consequatur maxime soluta corporis cum deleniti temporibus iusto, ullam quas assumenda nulla laudantium voluptates nesciunt facilis hic nemo delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut itaque iure beatae. Expedita odit maiores, suscipit aut recusandae modi magnam quae inventore optio obcaecati placeat harum veritatis! Cupiditate, velit?
    </main>
</body>
</html>