body{
    margin: 0;
    font-family: sans-serif;
    background-color: #aaa;
}

div, body{
    box-sizing: border-box;
}

.container{
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    border: 2px solid #000;
    margin: 20px;
}

.container-item{
    background-color: #800;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    flex: 1 1 200px;
}

.container-item:nth-child(2n){
    background-color: #f00;
}


.container-item:last-child{
    background-color: #400;
}

.item5{
    align-self: stretch;
}